{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  {% comment %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  {% endcomment %}
  <title>Регистрация</title>
  <link type="text/css" rel="stylesheet" href="{%static "css/style.css"%}">
  {% comment %} ШРИФТ OPEN SANS|PT SANS, как на сайте КФУ, подгрузка
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">
  {% endcomment %}
</head>

<body>
  <div class="page-header">
    <h1><a href="/">Регистрация</a></h1>
  </div>
  {% load apptags %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
      <h1 class="title">{{ title }}</h1>
      <form enctype="multipart/form-data" action="" method="post">  {% csrf_token %}
        <div>
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Далее</button>
            {% comment %}{% if request|is_current_page_view:'finale' %}
              <button type="submit" class="btn btn-primary">Завершить</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Далее</button>
            {% endif %}{% endcomment %}
        </div>
      </form>
      </div>
    </div>
  </div>
</body>
</html>